MARIA_DB_HOST

DUPLICATES_EMAGISTER_COM_DATABASE_NAME
DUPLICATES_EMAGISTER_COM_DATABASE_USER
DUPLICATES_EMAGISTER_COM_DATABASE_PASSWORD

CORPUS_EMAGISTER_COM_DATABASE_NAME
CORPUS_EMAGISTER_COM_DATABASE_USER
CORPUS_EMAGISTER_COM_DATABASE_PASSWORD

DUPLICATES_EMAGISTER_IT_DATABASE_NAME
DUPLICATES_EMAGISTER_IT_DATABASE_USER
DUPLICATES_EMAGISTER_IT_DATABASE_PASSWORD

CORPUS_EMAGISTER_IT_DATABASE_NAME
CORPUS_EMAGISTER_IT_DATABASE_USER
CORPUS_EMAGISTER_IT_DATABASE_PASSWORD

ENVIRONMENT
FLASK_ENV
FLASK_DEBUG

MONGO_HOST
MONGO_PORT

MONGO_EMAGISTER_COM_INITDB_DATABASE
MONGO_EMAGISTER_COM_INITDB_USER
MONGO_EMAGISTER_COM_INITDB_PASSWORD

MONGO_EMAGISTER_IT_INITDB_DATABASE
MONGO_EMAGISTER_IT_INITDB_USER
MONGO_EMAGISTER_IT_INITDB_PASSWORD

REDIS_HOST
REDIS_PORT

RABBITMQ_HOST
RABBITMQ_PORT
RABBITMQ_USER
RABBITMQ_PASSWORD

MONGO_INITDB_ROOT_USERNAME
MONGO_INITDB_ROOT_PASSWORD
